.news-feed{
  background-color: red;
}

.currency-converter{
  background-color: rgb(134, 134, 143);
  border: 2px solid blue;
  height: 370px;
  width: 600px;
}

.exchange-rate{
  background-color: pink;
  text-align: center;
}
.app{
  display: flex;
  flex-direction: row;
  align-items: center;

}

button{
  float: right;
}

