.news-feed{
  background-color: red;
}

.currency-converter{
  background-color: blue;
  border: 2px solid blue;
  height: 250px;
  width: 600px;
}

.exchange-rate{
  background-color: pink;
}
.app{
  display: flex;
  flex-direction: row;
  align-items: center;

}
